## Ignore
python36Test.iml
/Image/background64348
/Image/output1
/Image/output2
/Image/output3
/Image/output4
/Image/output5
/Image/output6
/Image/output7
/Image/output_curves
/.idea
/Image/output
/.idea
